# Data & models (too large for git)
phisguard_ml/data/
phisguard_ml/processed/
phisguard_ml/models/

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
*.egg-info/

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini